#root {
  width: 100%;
  max-width: 780px;
  margin: 0 auto;
  padding: 0.5rem 2rem;
  text-align: center;
}

.title {
  color: #fff;
}

.card {
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ced4da;
  border-radius: 5px;
  resize: none;
  font-family: monospace;
}

.textarea {
  height: 100px;
}

.checkbox {
  display: block;
}

.checkbox:not(:last-child) {
  margin-right: 1.5rem;
}

.checkbox input {
  margin-right: 0.5rem;
}

.card p {
  margin: 0;
}

.card p:not(:last-child) {
  margin-bottom: 1rem;
}

.flags {
  display: flex;
}
